.bg-star {
    margin-top: rem(-50);
    position: relative;
    z-index: -999;
}

.bg-star::before {
    content: "";
    position: absolute;
    top: rem(8);
    right: 50%;
    background-image: url(../images/common/bg-left.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: calc(647 / 1440 * 100vw);
    height: calc(4972 / 1440 *100vw);
    z-index: -999;

}

.bg-star::after {
    content: "";
    position: absolute;
    top: rem(219);
    right: 0;
    background-image: url(../images/common/bg-right.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: calc(705 / 1440 * 100vw);
    height: calc(4087 / 1440 * 100vw);
    z-index: -999;
}